{% extends "layout.html" %} {% block title %} Edit {% endblock %} {% block body %}
<div class="container">
<form action="/update/{{student.id}}" method="POST">

    
    <input type="text" class="form-control input-sm" name="first_name" value="{{student.first_name}}">
<br>
    <input type="text" class="form-control input-sm" name="last_name" value="{{student.last_name}}">
<br>
    <input type="email" class="form-control input-sm" name="email" value="{{student.email}}">
<br>
    <input type="text" class="form-control input-sm" name="gender" value="{{student.gender}}">
<br>
<center><button type="submit" class="btn btn-primary btn-lg btn-block">Update</button></center>
    
    
</form>
</div>
{% endblock %}